@font-face {
  font-family: "NotoSans";
  src: url("../fonts/static/NotoSans-Bold.ttf");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/static/NotoSans-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/static/NotoSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}
* {
  font-family: "NotoSans";
}